<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2aa1bb4704.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="header-tincho">
        <div class="navegador-principal">
            <nav class="navbar navbar-expand-md navbar-dark container nav-bg">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <a href="#" class="navbar-brand logo">NEO POS</a>
                <div class="collapse navbar-collapse" id="menuNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/shop" class="nav-link">ECommerce</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">POS</a>
                        </li>
                        <li class="nav-item">
                            <a href="/cart" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">About</a>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="container navegador navbar navbar-expand-md">
                <div class="row collapse navbar-collapse" id="menuNav">
                    <div class="col-1"></div>
                    <div class="col-8"></div>
                    <div class="col-3 cont-registro pb-3">


                        <a href="./cart" class="registros"><i class="fas fa-sign-in-alt"></i> Ingresá</a>
                        <a href="./user/new" class="registros"><i class="fas fa-user-plus"></i> Registrate</a>
                    </div>
                </div>
            </div>
        </div>


        <section class="container">
            <article class="row principal-banner">
                <div class="col-12 pl-4 pt-5 img-banner">
                    <h1 class="mb-5 ml-2">Un ecosistema de software que potencia tu negocio.</h1>

                    <p><i class="fas fa-hand-point-right mb-3 ml-1"></i> Un solo lugar donde encontrás todas las soluciones de software para manejar tu negocio.</p>
                    <p><i class="fas fa-hand-point-right mb-3 ml-1"></i> Un E-Commerce para vender online y asi salir de tu área para atraer a más clientes.</p>
                    <p><i class="fas fa-hand-point-right mb-3 ml-1"></i> Punto de venta adicional para aumentar tus ganancias.
                    </p>
                    <p><i class="fas fa-hand-point-right mb-3 ml-1"></i> Sistema de stock integrado.</p>
                </div>
                <!-- <div class="d-none d-lg-block col-lg-8  img-banner">
                   <img src="/images/banner-2.jpg" class="max-width: 100%" alt=""> 
              </div> -->
            </article>
        </section>
    </header>

    <main>


        <div class="d-none d-lg-block  icon-bar">
            <a class="active" href="#"><i class="fa fa-home"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
            <a href="#"><i class="fas fa-sign-in-alt"></i></a>
            <a href="./user/new"><i class="fas fa-user-plus"></i></a>
        </div>

        <article class="container pb-5 contenedora ">
            <div class=" col-12 col-lg-12 row d-flex justify-content-between">
                <div class="col-12 col-md-3 title-informat">
                    <i class="fas fa-store"></i>
                    <h4>Punto de venta</h4>
                    <p>Punto de Venta parametrizable. Podemos adaptar nuestro sistema a tus necesidades. Con solo unos clicks ya podes cargar tus productos en el stock y asi vender de manera instantanea.</p>
                </div>
                <div class="col-12 col-md-3 title-informat">
                    <i class="fas fa-network-wired"></i>
                    <h4>E-Commerce</h4>
                    <p>Punto de Venta parametrizable. Podemos adaptar nuestro sistema a tus necesidades. Con solo unos clicks ya podes cargar tus productos en el stock y asi vender de manera instantanea.</p>
                </div>
                <div class="col-12 col-md-3 title-informat ">
                    <i class="fas fa-database"></i>
                    <h4>Sistema de Stock</h4>
                    <p>Punto de Venta parametrizable. Podemos adaptar nuestro sistema a tus necesidades. Con solo unos clicks ya podes cargar tus productos en el stock y asi vender de manera instantanea. </p>
                </div>
            </div>
        </article>



    </main>

    <footer>
        <div class="container p-3 ">
            <div class="row footer">
                <div class="col-12 col-md-4" id="about">
                    <h4>Nosotros</h4>
                    <p>Sebastián Ballester</p>
                    <p>Mauricio Cáceres</p>
                    <p>Jesús Manrique</p>
                    <p>Martin Aguilera</p>
                </div>
                <div class="col-12 col-md-4 help">
                    <h4>Ayuda</h4>
                    <p><a href="#">Preguntas Frecuentes</a></p>
                    <p><a href="#">Reportá un error</a></p>
                    <p><a href="#">Conseguí ayuda</a></p>
                </div>
                <div class="col-12 col-md-4">
                    <img class="fluid-img" src="images/neo pos.png" alt="">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 footer-final pt-3">
                    <p>&copy; 2020 Copyright </p>
                </div>
            </div>
        </div>

    </footer>



</body>

</html>