<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Pos Software</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include("partials/headerSignupLogin")%>

    <section class="text-gray-700 body-font module-cards" id="team">
        <div class="container px-5 py-24 mx-auto" style="display:flex;justify-content:center;flex-wrap:wrap;box-sizing:border-box">
            <div class="text-center mb-20" >
                <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Ingresá</h1>

            </div>
            <% if( typeof errors != 'undefined') { %>
                <% for(error of errors){ %>
                    <ul style="color: red;"> <%= error.msg %> </ul>
                    <% } %> 
                <% } %>  
            <form action="/user/login" method="POST" class="container"
                style="display: flex;flex-wrap:wrap;justify-content:center">
                <div style="flex-direction:column-reverse;justify-content:center">
                    <div style="margin-top:10px;">
                        <label for="email"></label>
                        <input type="email" class="form-control col-11" id="email" aria-describedby="emailHelp"
                            placeholder="email" name="email" style="width: auto;">
                    </div>
                    <div style="margin-top:10px;">
                        <label for="password"></label>
                        <input type="password" class="form-control col-11" id="password" placeholder="contraseña"
                            minlength="6" maxlength="15" name="password" style="width: auto;">
                    </div>
                    <div style="margin-top:10px;">
                        <button type="submit" target="blank"
                            style="background-color: #39b54a;width:100%;padding:5px 0px"> Ingresá </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <%- include("partials/footer2")%>

</body>

</html>