<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Pos Software</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main-style.css">
</head>

<body>
    <header class="text-gray-700 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img class="logo-circle" src="/images/logo.png" alt="">
                <span class="ml-3 text-xl">Neo Pos</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a href="/" class="mr-5 hover:text-gray-900">Home</a>
                <a href="#eco" class="mr-5 hover:text-gray-900">Ecosistema</a>
                <a href="#team" class="mr-5 hover:text-gray-900">Nuestro Equipo</a>
                <a href="#client" class="mr-5 hover:text-gray-900">Nuestro Clientes</a>
            </nav>
            <button
                class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">Log
                In
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </header>

    <section class="text-gray-700 body-font module-cards" id="team">
        <div class="container px-5 py-24 mx-auto">
            <div class="text-center mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Ingresá</h1>

            </div>
            <% if( typeof errors != 'undefined') { %>
                <% for(error of errors){ %>
                    <ul style="color: red;"> <%= error.msg %> </ul>
                    <% } %> 
                <% } %>  
            <form action="/user/login" method="POST" class="container"
                style="display: flex;flex-wrap:wrap;justify-content:center">
                <div style="flex-direction:column-reverse;justify-content:center">
                    <div style="margin-top:10px;">
                        <label for="email"></label>
                        <input type="email" class="form-control col-11" id="email" aria-describedby="emailHelp"
                            placeholder="email" name="email">
                    </div>
                    <div style="margin-top:10px;">
                        <label for="password"></label>
                        <input type="password" class="form-control col-11" id="password" placeholder="contraseña"
                            minlength="6" maxlength="15" name="password">
                    </div>
                    <div style="margin-top:10px;">
                        <button type="submit" target="blank"
                            style="background-color: #39b54a;width:100%;padding:5px 0px"> Ingresá </button>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <footer class="text-gray-700 body-font">

        <div class="bg-gray-200">
            <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
                <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                    <img class="logo-circle" src="/images/logo.png" alt="">
                    <span class="ml-3 text-xl">Neo Pos</span>
                </a>
                <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2020 Neo Pos —
                    <a href="https://twitter.com/neo-pos" rel="noopener noreferrer" class="text-gray-600 ml-1"
                        target="_blank">@NeoPosSoftware</a>
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                    <a class="text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                            </path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
    </footer>
</body>

</html>