<!-- Footer -->
<footer class="page-footer font-small" style="background-color: var( --gainsboro );border-top:1px solid var(--turquoise)">
  <!-- style="border-top:1px solid var(--turquoise);"> -->

  <!-- Footer Elements -->
  <div class="container-fluid">

    <!-- Grid row-->
    <div class="row" style="height: 20vh;">
      <!-- Grid column -->
      <div class="col-5 col-md-3  d-flex align-items-center">
        <a href="/" class=" items-center  justify-center  mb-1 ">
          <img class="" src="/images/logoAuxiliarNeopos.svg" alt="" style="width: 20vh;">
        </a>
      </div>
      <div class=" col-1 col-md-5">

      </div>
      <div class="col-6 col-md-4 ">
          <ul class="mt-2 text-center" style="list-style: none;">
            <li style="font-size: 18px;">Seguinos : </li>
            <li><i class="fab fa-facebook" style="color: var(--eerie-black);font-size:18px"></i></li>
            <li><i class="fab fa-twitter-square" style="color: var(--eerie-black);font-size:18px"></i></li>
            <li><i class="fab fa-instagram" style="color: var(--eerie-black);font-size:18px"></i></li>
          </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 ">
    <a href="/" class="pt-3" style="color: var(--eerie-black);border-top: 1px solid var(--turquoise);">© 2020 Copyright: Neopos.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->