<!-- Footer -->
<footer class="page-footer font-small darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-1">
        <a class=" items-center  justify-center  mb-1 ">
          <a href="/"><img class="" src="/images/logoAuxiliarNeopos.svg" alt="" style="width: 15vh;"></a>
      </a>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> Neopos.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->