<header class=""
    style="border-bottom:1px solid var(--turquoise);z-index:100; position:sticky; top:0; background-color: var(--gainsboro);width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/"><img class="" src="/images/logoAuxiliarNeopos.svg" alt="" style="width: 25vh;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <% if( typeof user == 'undefined' ){ %>
                <li class="nav-item">
                    <button class="btn btn-sm" style="margin-left: 20px; margin-right: 15px;">Ingresa</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm">Registrate</button>
                </li>
                <% } %>
            </ul>
            <div class="navbar-text" style="margin-right: 30px;">
                <form class="form-inline">
                    <input class="form-control " type="search" aria-label="Search">
                    <button class="btn btn-outline-success " type="submit"><i class="fas fa-search"
                            style="color: white;"></i></button>
                </form>
            </div>
        </div>
        <div class="nav-item dropdown  ">
            <a class="nav-link " id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="dropdown-toggle ">
                    <img class="img-fluid rounded-circle border " style="width: 10vh;margin-right: 60px;"
                        src="<%= user.avatar %>" alt="">
                </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <h6 class="dropdown-header">Hola <%= user.name%>!</h6>
                <a class="dropdown-item" href="/user/detail">Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">
                    <form action="/user/logout" method="POST">
                        <button class="btn btn-success" type="submit">Cerrar Sesión</button>
                    </form>
                </a>
            </div>
        </div>
    </nav>
</header>