<header class="" style="z-index:100; position:sticky; top:0; background-color: var(--gainsboro);width: 100%;" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/"><img class="" src="/images/logoAuxiliarNeopos.svg" alt="" style="width: 25vh;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#eco">Ecosistema</a>
        <a class="nav-item nav-link" href="#team">Nuestro equipo</a>
        <a class="nav-item nav-link" href="#client" tabindex="-1" aria-disabled="true">Navega un mundo de E-commerce</a>
        <%  if(typeof userData === 'undefined' ){%>
          <a href="/user/login"><button class="inline-flex items-center  border-0 mr-2 py-1 px-3 rounded  md:mt-0">
              Ingresá
          </button></a>
          <a href="/user/registerAdmin"><button class="inline-flex items-center border-0 py-1 px-3 rounded md:mt-0">
            Registrate
          </button></a>
          <% } %>
          <% if(typeof userData != 'undefined' ){ %>
          <p>Hola <%= userData.name%></p>
          <form action="/user/logout" method="POST">
            <button type="submit">Cerrar sesión</button>
          </form>
          <% } %>
        </nav>
        <% if( typeof errors != 'undefined') { %>
        <% for( error of errors) { %>
        <p><%= error.msg %> </p>
        <% } %>
        <% } %>
      </div>
    </div>
  </nav>

</header>