<!-- Popup SignUp -->
<div id="modalSignUp" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <nav>
                    <div class="nav nav-tabs ml-3 mb-0 border-bottom-0" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-usuario-tab" data-toggle="tab" href="#nav-usuario" role="tab" aria-controls="nav-usuario" aria-selected="true">Registracion Usuarios</a>
                        <a class="nav-item nav-link" id="nav-empresa-tab" data-toggle="tab" href="#nav-empresa" role="tab" aria-controls="nav-empresa" aria-selected="false">Registracion Empresas</a>
                    </div>
                </nav>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-usuario" role="tabpanel" aria-labelledby="nav-usuario-tab">
                        <form action="/new" method="POST">
                            <div class="modal-body mx-2">
                                <div class="form-group row">
                                    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                                    <div class="col-sm-10">
                                        <input type="input" class="form-control" id="nombre" placeholder="" name="nombre">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
                                    <div class="col-sm-10">
                                        <input type="input" class="form-control" id="apellido" placeholder="" name="apellido">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="telefono" placeholder="" name="telefono">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="" name="email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="" name="password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword2" class="col-sm-2 col-form-label">Password </label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="" name="password2">
                                    </div>
                                </div>
                                <div class="form-group col-12 col-md-6">

                                </div>
                                <small class="col-12 col-md-6">Al registrarme, declaro que soy mayor de edad y acepto los
                                    Términos y condiciones y las Políticas de privacidad.</small> </div>

                            <div class="modal-footer">
                                <button type="submit" class="inline-flex text-white items-center text-center bg-green-700 border-0 py-1 px-5 focus:outline-none hover:bg-gray-700 hover:text-black  rounded text-base md:mt-0">Crear Cuenta
                                                    <svg fill="none" stroke="#d3d3d3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                                                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                                                    </svg>
                                                  </button>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="nav-empresa" role="tabpanel" aria-labelledby="nav-empresa-tab">
                        <form action="/user/newadmin" method="POST">
                            <div class="modal-body mx-2">
                                <div class="form-group row">
                                    <label for="nombre" class="col-sm-2 col-form-label">CUIT</label>
                                    <div class="col-sm-10">
                                        <input type="input" class="form-control" id="cuit" placeholder="" name="cuit">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nombre" class="col-sm-2 col-form-label">UserName</label>
                                    <div class="col-sm-10">
                                        <input type="input" class="form-control" id="nombre" placeholder="" name="nombre">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="" name="email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="" name="password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword2" class="col-sm-2 col-form-label">Password </label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="" name="password2">
                                    </div>
                                </div>
                                <div class="form-group col-12 col-md-6">

                                </div>

                                <small class="col-12 col-md-6">Al registrarme, declaro que soy mayor de edad y acepto los
                                Términos y condiciones y las Políticas de privacidad.</small>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="inline-flex text-white items-center text-center bg-green-700 border-0 py-1 px-5 focus:outline-none hover:bg-gray-700 hover:text-black  rounded text-base md:mt-0">Crear Cuenta
                                    <svg fill="none" stroke="#d3d3d3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>