<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Pos Software</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>

    <%- include('partials/headerHome.ejs') %>

</header>

<body>
    <section class="text-gray-700 body-font ">
        <div class="container mx-auto flex px-5 py-5 md:flex-row flex-col items-center ">
            <div
                class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center ">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 ">Un solo lugar
                    <br class="hidden lg:inline-block ">todos los E-Commerce
                </h1>
                <p class="mb-8 leading-relaxed ">Tu Stock y tu
                    Punto de venta integrados. </p>
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 ">
                <a href="/"><img class="" src="/images/logoAuxiliarNeopos.svg" alt="" style="width: 75vh;"></a>
            </div>
        </div>
    </section>

    <!-- Tseccion 4 -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-screen-desktop m-auto text-primary"></i>
                        </div>
                        <h3>Fully Responsive</h3>
                        <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-layers m-auto text-primary"></i>
                        </div>
                        <h3>Bootstrap 4 Ready</h3>
                        <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Easy to Use</h3>
                        <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Nuestros E-commerce desarrollados</h2>
            <div class="row">
                <div class="col-lg-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/carefour.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/carefour.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/carefour.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/carefour.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/carefour.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/carefour.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <div class="flex flex-col text-center w-full mb-20 ">
                <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest ">Nuestro Equipo</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base ">Nuestro equipo esta formado por los mejores
                    profesionales en cada Area (Diseño, Imagen Corporativa, Desarrollo Web y Ventas) Asi podemos
                    ayudarte a mejorar cada aspecto de tu negocio y acompañarte en tu crecimiento</p>
            </div>
            <h2 class="mb-5">What people are saying...</h2>
            <div class="row">
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/mauri.png" alt="">
                        <h5>Margaret E.</h5>
                        <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/mauri.png" alt="">
                        <h5>Fred S.</h5>
                        <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of
                            super nice landing pages."</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/mauri.png" alt="">
                        <h5>Sarah W.</h5>
                        <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to
                            us!"</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/images/mauri.png" alt="">
                        <h5>Sarah W.</h5>
                        <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to
                            us!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer2")%>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js "
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n "
    crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js "
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 "
    crossorigin="anonymous "></script>
<script src="https://kit.fontawesome.com/2aa1bb4704.js " crossorigin="anonymous "></script>
<script> window.onload = function () {

        //log.addEventListener('click', ()=>{
        //alert('tocaste');
        //})

        let login = document.getElementById('modalLogin');
        let signup = document.querySelector('.modal');

        if (typeof user != 'undefined') {
            //$('#modalLogin').modal( { show: false });
            login.style.display = "none";
            signup.style.display = "none";
        } else {
            //$('#modalLogin').modal({ show: true }); 
        }
    };</script>

</html>