<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Pos Software</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main-style.css">

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include("partials/headerSignupLogin")%>

        <section class="text-gray-700 body-font module-cards" id="team">
            <div class="container px-5 py-24 mx-auto" style="display:flex;justify-content:center;flex-direction: column;box-sizing:border-box">
                <div class="text-center mb-8">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Ingres치</h1>

                </div>
                <!--                           <%= error.msg %>
                            </ul>
                            <% } %>
                            <ul style="color: red;">
                        <% for(error of errors){ %>
                    </div>
                    <% } %>
                    <div class="text-center">
                <% if( typeof errors != 'undefined') { %> -->
                <form action="/user/login" method="POST" class="container" style="display: flex;flex-wrap:wrap;justify-content:center">
                    <div style="flex-direction:column-reverse;justify-content:center">
                        <div style="margin-top:10px;">
                            <label for="email">Email</label>
                            <input type="email" class="form-control col-11" id="email" aria-describedby="emailHelp" name="email" style="width: auto;">
                        </div>
                        <div style="margin-top:10px;">
                            <label for="password">Contrase침a</label>
                            <input type="password" class="form-control col-11" id="password" minlength="6" maxlength="15" name="password" style="width: auto;">
                        </div>

                        <div style="margin-top:10px;">
                            <button type="submit" class="inline-flex w-full items-center text-center bg-green-700 border-0 py-1 px-5 focus:outline-none hover:bg-gray-300 rounded text-base md:mt-0">Ingres치
                                                <svg fill="none" stroke="#d3d3d3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                                                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                                                </svg>
                                              </button>
                            <!--  <button type="submit" target="blank" style="background-color:#3E9B71;width:100%"> Ingres치 <svg fill="none" stroke="#E2E8F0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                                              </svg>  </button> -->
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <%- include("partials/footer2")%>

</body>

</html>