<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Pos Software</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/aeb03eaab9.js"></script>
    <link rel="stylesheet" href="/stylesheets/root.css">
</head>

<body>
    <header>
        <%- include('partials/headerHome.ejs') %>
    </header>
    <!-- show errors -->
    <div class="container p-4">
        <% if(typeof errors != 'undefined'){ %>
        <ul>
            <% for(var i = 0; i < errors.length; i++) { %>
            <div class="alert alert-danger" role="alert">
                <%= errors[i].msg %>
            </div>
            <% } %>
        </ul>
        <% } %>
        <div class="row">
            <div class="col-8 col-md-6 col-lg-4 mx-auto mt-5">
                <div class="card">
                    <div class="card-header text-center" style="background-color: var(--turquoise);">
                    </div>
                    <div class="card-body">
                        <form action="/user/login" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="email@email.com"
                                    autofocus>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="password">
                            </div>
                             <div class="form-group">
                                 <input type="checkbox" class="form-check-input ml-1" name="recordame" id="check">
                                 <label for="check" class="ml-4">Recordame</label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Ingresa
                                </button>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Nuevo por aquí ? Registrate</a>
                            <a class="dropdown-item" href="#">Olvidó la contraseña?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>