<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Registrate</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <script src="https://use.fontawesome.com/aeb03eaab9.js"></script>
     <link rel="stylesheet" href="/stylesheets/root.css">
</head>
<body>
     <header>
          <%- include('partials/headerHome.ejs') %> 
     </header>
     <main>
          <div class="container p-4">
               <div class="row">
                    <div class="col-8 col-md-6 col-lg-4 mx-auto mt-5">
                         <div class="card">
                              <div class="row card-header  text-white" style="background-color: var(--turquoise);">
                                   <div class=" col-12 form-group">
                                        <h3 class="text-center">Registrate como vendedor!</h3>
                                   </div>
                                   <div class="dropdown-divider"></div>
                                   <div class=" col-12 form-group">
                                        <small><a href="/user/register" class="text-decoration-none text-center text-white"> O creá una
                                                  cuenta para comprar lo que quieras!!</a></small>
                                   </div>
                              </div>
                              <div class="card-body">
                                   <form method="POST" action="/user/newadmin">
                                        <div class="form-group">
                                             <input type="text" class="form-control" name="name"
                                                  placeholder="Nombre" autofocus>
                                        </div>
                                        <div class="form-group">
                                             <input type="email" class="form-control" name="email"
                                                  placeholder="email@email.com" >
                                        </div>
                                        <div class="form-group">
                                             <input type="password" class="form-control" name="password"
                                                  placeholder="password">
                                        </div>
                                        <div class="form-group input-group">
                                             <div class="custom-file">
                                               <input type="file" class="custom-file-input" id="inputGroupFile04">
                                               <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                             </div>
                                         </div>
                                        <div class="form-group">
                                             <button class="btn btn-success btn-block">
                                                  Registrate
                                             </button>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                   </form>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </main>  
     <footer>

     </footer>


     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>
</body>

</html>