.cart-image-product {
    width: 75%;
}

.section-title-cart {
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.carrito-resumen {
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 8pt;
}

.carrito-detalle {
    margin-top: 3em;
    margin-bottom: 3em;
}

