@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,500;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800;900&display=swap');

/* || NOTA: COMO USAR VARIABLES CSS */
/*
--Definicion
:root {
  --my-color: red
}
--Uso en el codigo
body {
  color: var(--turquoise)
}
*/
:root {
     /* CSS fonts */
    --base-font-family: 'Roboto', sans-serif;

    /* CSS colors */
    --quick-silver: rgb(160,160,156);
    --cultured: rgb(225,225,225);
    --gainsboro: rgb(224,224,224);
    --turquoise: rgb(68, 219, 188);
    --eerie-black: hsla(0, 5%, 8%, 1);

    /*SOFT UI DIMENSIONS*/
    --radio-boton: 12px;
    --radio-card: 17px;

    /*TAMANIO DE FUENTE*/
    --fuente-media:10px;
    --fuente-grande:32pt;
    --fuente-chica:8pt;
    --fuente-media-chica:9pt;
    --fuente-media-grande:18pt;
}



/* || ESTILOS GLOBALES */
h1,
h2,
h3,
h4,
p,
a,
span,
body {
    font-family: var(--base-font-family), sans-serif;
    font-weight: 300;
}

i{
  color: var(--turquoise);
}


/* || ESTILOS GENERALES */

.logo-neopos-header {
  border-radius: 40%;
  width: 200px;
}



/* || ESTILOS PARTICULARES */
/* Estilos particulares ubicados en cada archivo css correspondiente */