@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* || NOTA: COMO USAR VARIABLES CSS */
/*
--Definicion
:root {
  --my-color: red
}
--Uso en el codigo
body {
  color: var(--turquoise)
}
*/
:root {
     /* CSS fonts */
    --base-font-family: 'Roboto', sans-serif;

    /* CSS colors */
    --quick-silver: rgb(160,160,156);
    --cultured: rgb(238, 236, 236);
    --gainsboro: rgb(224,224,224);
    --turquoise: rgb(68, 219, 188);
    --eerie-black: hsla(0, 5%, 8%, 1);

    /*SOFT UI DIMENSIONS*/
    --radio-boton: 12px;
    --radio-card: 17px;

    /*TAMANIO DE FUENTE*/
    --fuente-media:10px;
    --fuente-grande:32pt;
    --fuente-chica:8pt;
    --fuente-media-chica:9pt;
    --fuente-media-grande:18pt;
}

/* || ESTILOS GLOBALES */
h1,
h2,
h3,
h4,
a,
p,
span,
body {
    font-family: var(--base-font-family), sans-serif;
    font-weight: 300;
    color: var(--eeire-black);
}


i{
  color: var(--turquoise);
}


/* || ESTILOS GENERALES */

.logo-neopos-header {
  border-radius: 40%;
  width: 200px;
}

.btn,
.btn-outline-success,
.btn-success{
  background-color: var(--turquoise);
  color:#FFF;
  border-color: var(--turquoise);
}

.btn:hover,
.btn-outline-success:hover,
.btn-success:hover{
  background-color: #1D967E;
  color:#FFF;
  border-color: var(--turquoise);
}
/* || ESTILOS PARTICULARES */
/* Estilos particulares ubicados en cada archivo css correspondiente */