/* -------------------------------------------------FORMULARIO------------------------------------------------------- */

body {
     font-family: 'Roboto', sans-serif;
}

header {
     background-color: #f1F7EE !important;
     width: 100%;
}

#menuNav a {
     color: black;
     font-weight: bold;
}

.navegador-principal {
     background-color: rgba(65, 65, 65, 0.8);
}

.logo:hover {
     color: #34A410 !important;
}

a:hover {
     color: #34A410 !important;
}


.class-logo img {
     width: 80%;
     border-radius: 100px;
}

.list-nav {
     border: 1px solid;
}



/* MMMMMMMMMMMMMMMMMMMMMMMMMMAAAAAAAAAIIIIIIIIIIIIIIIIIIINNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN */




main {
     background-color: #ebebeb !important;
}

.text-form {
     border: 1px solid #F6F6F5;
     border-radius: 10px;
     border-style: groove;
     margin-left: 0 auto;
     background-color: white;
}

label {
     display: flex !important;
     justify-content: center;
     align-items: center;
}

.title-form {
     display: flex;
     flex-direction: row !important;
     justify-content: space-between;
}

.title-p {
     font-weight: bold;
}

.ancla-ctaempresa {
     font-size: 13px;
     color: black;
}

.color-btn {
     background-color: rgba(69, 69, 69, 1);
     color: white;
}

.color-btn:hover {
     color: #34A410;
}


/* FFFFFFFFFFFFFFOOOOOOOOOOOOOOOOOOTTTTTTTTTTTEEEEEEEEEEEEEEEEEEEEEEER */
footer {
     background-color: #f1F7EE !important;
     z-index: 1 !important;
     color: black;
   }
   .footer h4{
        font-weight: bold;
   }
   .help a {
     color: black;
   }
   
   footer img {
     width: 100%;
   }
   
   .footer-final {
     border-top: 1px solid white;
     background-color: black;
     color: white;
   }
   

/* -------------------------------------------------FORMULARIO------------------------------------------------------- */