<footer>
    <div class="container p-3 ">
        <div class="row footer">
            <div class="col-12 col-md-3">
                <h4>Nosotros</h4>
                <p>Sebastián Ballester</p>
                <p>Mauricio Cáceres</p>
                <p>Jesús Manrique</p>
                <p>Martin Aguilera</p>
            </div>
            <div class="col-12 col-md-3 help">
                <h4>Ayuda</h4>
                <p><a href="#">Preguntas Frecuentes</a></p>
                <p><a href="#">Reportá un error</a></p>
                <p><a href="#">Conseguí ayuda</a></p>
            </div>
            <div class="col-12 col-md-3">
                <h4>Redes</h4>
            </div>
            <div class="col-12 col-md-3">
                <img src="images/neo pos.png" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 footer-final pt-3">
                <p>&copy; 2020 Copyright </p>
            </div>
        </div>
    </div>

</footer>