<header>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
                <button class="navbar-toggler col-3 col-md-1" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="col-sm-0 ">
                    <a class="" href="#">NEO POS</a>
                </div>

                <div class="col-2">
                    <a class="navbar-brand" href="/cart"><i class="fa fa-shopping-cart"></i><span class="red">3</span></a>
                </div>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control col-7" type="search" placeholder="Search" aria-label="Search">
                    <!-- <button class="btn btn-outline-success ml-sm-1 my-2 my-sm-0" type="submit">Search</button> -->
                    <button type="button" class="btn btn-outline-success btn-sm btn-radius ml-3">Buscar</button>
                </form>
            </nav>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light dark col-12">
                <div class="collapse navbar-collapse " id="navbarMainMenu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-home"></i>Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-bell"></i>Notificaciones <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-shopping-basket"></i>Mis Compras <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-user"></i>Mi Cuenta <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="far fa-question-circle"></i>Ayuda <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-dollar-sign"></i>Vende x la App!! <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i>Salir <span class="sr-only">(current)</span></a>
                        </li>

                    </ul>

                </div>
            </nav>
        </div>
    </div>
</header>