<header>
    <nav class="navbar navbar-expand-md navbar-dark container nav-bg row justify-content-left">
        <button class="navbar-toggler col-3" type="button" data-toggle="collapse" data-target="#menuNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
           </button>
        <a href="/" class="navbar-brand logo col-9">NEO POS</a>
        <div class="collapse navbar-collapse" id="menuNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a href="/product/4" class="nav-link">ECommerce</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">POS</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="row pt-3 justify-content-center">
    <a class="col-5 col-md-3 col-xl-2" href="#"><img src="../images/logo-mercado-liebre.svg" alt="logo"></a>
    <div class="input-group mb-3 col-7 col-md-5 col-xl-6">
        <input type="text" class="form-control" placeholder="Buscar productos, marcas y más" aria-label="Buscar productos, marcas y más" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
        </div>
    </div>


    <div class="col-12 col-md-4 col-xl-4">
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
</div>