<header>
    <nav class="navbar navbar-expand-md navbar-dark container nav-bg row justify-content-left">
        <button class="navbar-toggler col-3" type="button" data-toggle="collapse" data-target="#menuNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
           </button>
        <a href="/" class="navbar-brand logo col-9">NEO POS</a>
        <div class="collapse navbar-collapse" id="menuNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a href="/product/4" class="nav-link">ECommerce</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">POS</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>