<!-- Popup SignUp -->
<div id="modalSignUp" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <!-- Nav Tabs Header -->
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active nav-item">
                        <a class="nav-link" href=" #home " aria-controls="home " role="tab " data-toggle="tab ">Home</a>
                    </li>
                    <li role="presentation " class="active nav-item ">
                        <a class="nav-link" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                    </li>
                    <!--  <li class="nav-item ">
                        <a class="nav-link " href="#usuarios" aria-controls="home" role="tab" data-toggle="tab">Registración Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#empresas" aria-controls="profile" role="tab" data-toggle="tab">Registración Empresas</a>
                    </li> -->
                </ul>
                <!-- Nav Tabs Header  End-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Nav tabs -->
            <!--    <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
                </li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                </li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
                </li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                </li>
              </ul> -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">Home</div>
                <div role="tabpanel" class="tab-pane" id="profile">Profile</div>
                <div role="tabpanel" class="tab-pane" id="messages">Message</div>
                <div role="tabpanel" class="tab-pane" id="settings">Settings</div>
            </div>

        </div>











        <!-- Modal Header End-->
        <!-- Tab Usuarios-->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="usuarios">broTab
                <!--   <form action="/user/login" method="POST" class="container">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="input" class="form-control" id="nombre" placeholder="" name="nombre">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
                                <div class="col-sm-10">
                                    <input type="input" class="form-control" id="apellido" placeholder="" name="apellido">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="telefono" placeholder="" name="telefono">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" placeholder="" name="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="" name="password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword2" class="col-sm-2 col-form-label">Password </label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="" name="password2">
                                </div>
                            </div>
                            <small class="col-12 col-md-6">Al registrarme, declaro que soy mayor de edad y acepto los
                                    Términos y condiciones y las Políticas de privacidad.</small>
                            <div class="modal-footer">
                                <button type="submit" class="inline-flex text-white items-center text-center bg-green-700 border-0 py-1 px-5 focus:outline-none hover:bg-gray-700 hover:text-black  rounded text-base md:mt-0">Crear Cuenta
                                                                            <svg fill="none" stroke="#d3d3d3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                                                                              <path d="M5 12h14M12 5l7 7-7 7"></path>
                                                                            </svg>
                                                                          </button>
                            </div>
                        </div>
                    </form> -->
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="empresas">browseTab
            <!-- Tab Empresas-->
            <!-- <div class="tab-content">
                <div class="tab-pane" id="empresas">

                    <form action="/user/login" method="POST" class="container">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="input" class="form-control" id="nombre" placeholder="" name="nombre">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
                                <div class="col-sm-10">
                                    <input type="input" class="form-control" id="apellido" placeholder="" name="apellido">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="telefono" placeholder="" name="telefono">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" placeholder="" name="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="" name="password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword2" class="col-sm-2 col-form-label">Password </label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="" name="password2">
                                </div>
                            </div>
                            <small class="col-12 col-md-6">Al registrarme, declaro que soy mayor de edad y acepto los
                                            Términos y condiciones y las Políticas de privacidad.</small>
                            <div class="modal-footer">
                                <button type="submit" class="inline-flex text-white items-center text-center bg-green-700 border-0 py-1 px-5 focus:outline-none hover:bg-gray-700 hover:text-black  rounded text-base md:mt-0">Crear Cuenta
                                                                                    <svg fill="none" stroke="#d3d3d3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                                                                                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                                                                                    </svg>
                                                                                  </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</div>
</div>
</header>