/* -------------------------------------------------FORMULARIO------------------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: rgba(69, 69, 69, 1) !important;
}

.logo:hover {
  color: #34A410 !important;
}

a:hover {
  color: #34A410 !important;
}

a {
  color: black;
}

.class-logo img {
  width: 80%;
  border-radius: 100px;
}

.list-nav {
  border: 1px solid;
}

main {
  background-color: #F6F6F5 !important;
}

.text-form {
  border: 1px solid #F6F6F5;
  border-radius: 10px;
  border-style: groove;
  margin-left: 0 auto;
  background-color: white;
}

label {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.title-form {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.title-p {
  font-weight: bold;
}

.ancla-ctaempresa {
  font-size: 13px;
}

.color-btn {
  background-color: rgba(69, 69, 69, 1);
  color: white;
}

.color-btn:hover {
  color: #34A410;
}


/* -------------------------------------------------FORMULARIO------------------------------------------------------- */


/* -------------------------------------------------HOME------------------------------------------------------- */

/* header{
       position: fixed;
  } */
.cont-registro {
  text-align: end;
}

.registros {
  color: #F6F6F5;
  margin-left: 8px;
}

.img-banner {
  background-image: url(../images/banner-2.jpg);
  min-height: 500px;
  width: 50%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-informat {
  padding: 5px;
  padding-top: 10px;
}

.title-informat h4 {
  border: 1px solid;
  padding: 0 45px !important;
  display: flex;
  justify-content: center;
  align-items: center;

}

footer {
  background-color: rgba(65, 65, 65, 1) !important;
  color: white;
}

footer img {
  width: 100%;
}

.footer-final {
  border-top: 1px solid white;
  background-color: black;
}

/* -------------------------------------------------HOME------------------------------------------------------- */




/* -------------------------------------------------CARRITO------------------------------------------------------- */

.cart-image-product {
  width:100%;


}
.cart-card {





}
.section-title {
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.carrito-resumen {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.5vw;
}
.carrito-detalle{
  margin-top: 3em;
  margin-bottom: 3em;
}
.cart-card-image {





}







/* -------------------------------------------------CARRITO END/------------------------------------------------------- */