@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #0D5C63;
    --gray: #595959;
    --light-gray: #F1F7EE;
    --gray-desc: #333333;
    --green: #39b54a;
    --background-color: #454545;
    --base-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Heebo', sans-serif;
}


/* -------------------------------------------------FORMULARIO------------------------------------------------------- */

body {
    font-family: var(--base-font-family), sans-serif;
}

header {
    background-color: #454545 !important;
}

.img-logo {
    width: 20%;
}

.logo:hover {
    color: #34A410 !important;
}

a:hover {
    color: #34A410 !important;
}

a {
    color: black;
}

.class-logo img {
    width: 80%;
    border-radius: 100px;
}

.list-nav {
    border: 1px solid;
}

main {
    /*  background-color: #F6F6F5 !important; */
}

.text-form {
    border: 1px solid #F6F6F5;
    border-radius: 10px;
    border-style: groove;
    margin-left: 0 auto;
    background-color: white;
}

label {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.title-form {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.title-p {
    font-weight: bold;
}

.ancla-ctaempresa {
    font-size: 13px;
}

.color-btn {
    background-color: rgba(69, 69, 69, 1);
    color: white;
}

.color-btn:hover {
    color: #34A410;
}

footer img {
  width: 50%;

}

.footer-final {
  border-top: 1px solid white;
  background-color: black;
}


/* -------------------------------------------------HOME------------------------------------------------------- */





/* -------------------------------------------------CARRITO------------------------------------------------------- */

.cart-image-product {
  width:75%;


}
.cart-card {





}
.section-title {
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.carrito-resumen {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1vw;
}
.carrito-detalle{
  margin-top: 3em;
  margin-bottom: 3em;
}
.cart-card-image {





}







/* -------------------------------------------------CARRITO END/------------------------------------------------------- */

/* header{
       position: fixed;
  } */

.cont-registro {
    text-align: end;
}

.registros {
    color: #F6F6F5;
    margin-left: 8px;
}

.img-banner img {
    width: 100%;
}

.title-informat {
    padding: 5px;
    padding-top: 10px;
}

.title-informat h4 {
    border: 1px solid;
    padding: 0 45px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -------------------------------------------------HOME------------------------------------------------------- */


/*-------------------- Product Detail ---------------------*/

.brand {
    color: var(--green);
    font-family: var(--secondary-font-family), sans-serif;
    font-weight: 500;
}

.title {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.047em;
    color: var(--gray-desc);
}

.fullPrice {
    color: var(--gray);
    text-decoration: line-through;
}

.discount {}

.section-border {
    border-top: 1px var(--light-gray) solid;
}

.fa-truck {
    color: var(--light-blue);
}

span.red {
    position: relative;
    font-size: 12px;
    background: var(--green);
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.2em;
    margin-left: 2px;
    bottom: 10px;
    text-align: center;
    width: 1.2em;
}


/*------------------------------------------*/


/*---------------------- Shop Styles -------*/

.dark {
    background-color: var(--light-blue);
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    flex-shrink: 1;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: var(--green)
}

.navbar-light .navbar-nav .nav-link {
    color: var(--light-gray)
}

.navbar-nav i {
    margin-right: 10px;
    width: 15px;
}

.product-box_image {
    /* height: 305px; */
}
